<mat-card *ngIf="product">
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><mat-icon>work</mat-icon>
        <p>{{ product.product_type }}</p>
      </mat-list-item>
      <mat-list-item role="listitem"
        ><mat-icon>work</mat-icon>
        <p>{{ product.blood_group }}</p>
      </mat-list-item>
      <mat-list-item role="listitem"
        ><mat-icon>work</mat-icon>
        <p>{{ product.storage_location }}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="btn-edit"
      mat-raised-button
      color="primary"
      (click)="updateProduct(product)"
    >
      Update product
    </button>
    <button mat-icon-button color="warn" (click)="onDelete(product)">
      Delete product
    </button>
  </mat-card-actions>
</mat-card>
