<mat-nav-list>
  <div class="profile-card" *ngIf="donor">
    <div class="header">
      <h2>Welcome {{ donor.first_name | titlecase }}</h2>
    </div>
  </div>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="dashboard"
    routerLinkActiveOptions="{exact: true}"
    >Dashboard</a
  >
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="activities"
    >Activities</a
  >
</mat-nav-list>
