<mat-nav-list>
  <div class="profile-card" *ngIf="doctor">
    <div class="header">
      <h2>Welcome Doctor {{ doctor.first_name | titlecase }}</h2>
    </div>
  </div>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="dashboard"
    routerLinkActiveOptions="{exact: true}"
    >Dashboard</a
  >
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="patients"
    >Patients</a
  >
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="requests"
    >Requests</a
  >
</mat-nav-list>
