<h1>Donors</h1>
<br />
<mat-divider></mat-divider>
<br />

<div class="search-area">
  <button mat-raised-button title="Create new donor" (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input
      matInput
      type="text"
      [(ngModel)]="searchKey"
      name="searchKey"
      placeholder="Search By Civil Id..."
      autocomplete="off"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      *ngIf="searchKey"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-button
    aria-label="Search"
    [disabled]="!searchKey"
    (click)="applyFilter()"
  >
    Find Donor
  </button>
</div>

<mat-divider></mat-divider>
<br />
<div class="profile" *ngIf="!(donor)">
  <h2>There is No Donor With This SSN</h2>
</div>
<div class="profile" #donorInfo *ngIf="donor; else addDonor">
  <h2>Donor Info:</h2>
  <app-donor-info [donorInfo]="donor" ></app-donor-info>
</div>
<ng-template #addDonor>
  <p>Add New Donor</p>
</ng-template>
