<h1>DashBoard</h1>
<br />
<mat-divider></mat-divider>
<br />
<div
  class="stats-card"
  fxLayoutAlign="space-between center"
  fxLayout="row"
  fxLayoutGap="20px"
>
  <mat-card fxFlex="50">
    <h3 class="card-category">USERS</h3>
    <p class="card-title">{{ 4 }}</p>
  </mat-card>
  <mat-card fxFlex="50">
    <h3 class="card-category">STUDENTS</h3>
    <p class="card-title">{{ 100 }}</p>
  </mat-card>
</div>
<br />
<mat-divider></mat-divider>
<br />
<div class="profile">
  <h2>Profile info:</h2>
  <admin-profile-info></admin-profile-info>
</div>
