<mat-nav-list>
  <div class="profile-card" *ngIf="bbStaff">
    <div class="header">
      <h2>Welcome {{ bbStaff.first_name | titlecase }}</h2>
    </div>
  </div>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="dashboard"
    routerLinkActiveOptions="{exact: true}"
    >Dashboard</a
  >
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="donors"
    >Find Donor</a
  >
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="activities"
    >Activities</a
  >
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="products"
    >Find Blood Products</a
  >
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="expired-products"
    >Expired Blood Products</a
  >
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="requests"
    >Requests</a
  >
  <a
    mat-list-item
    class="mat-btn-nav"
    routerLinkActive="active"
    routerLink="approved-requests"
    >Approved Requests</a
  >
</mat-nav-list>
