<h1>Patients</h1>
<br />
<mat-divider></mat-divider>
<br />

<div class="search-area">
  <button mat-raised-button title="Create new patient" (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input
      matInput
      type="text"
      [(ngModel)]="searchKey"
      name="searchKey"
      placeholder="Search By Civil Id..."
      autocomplete="off"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      *ngIf="searchKey"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-button
    aria-label="Search"
    [disabled]="!searchKey"
    (click)="applyFilter();"
  >
    Find Patient
  </button>
</div>

<mat-divider></mat-divider>
<br />
<div class="profile" *ngIf="!(HasPatient)">
  <h2>There is No Patient With This SSN</h2>
</div>
<div class="profile" #patientInfo *ngIf="(HasPatient); else addPatient">
  <h2>Patient Info:</h2>
  <app-patient-info [patientInfo]="patient"></app-patient-info>
</div>
<ng-template #addPatient>
  <p>Add New Patient</p>
</ng-template>
